.delete {
  padding: 4rem 4rem 2rem 4rem;
  background-color: #ccc;
  border: 1px solid black;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.btnsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}