ul li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}